/*共用样式开始*/
*{
	padding:0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	font-family: microsoft Yahei;
}
a{
	cursor: pointer;
}
 /* WebKit browsers */
::-webkit-input-placeholder {
	color: #999999;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #999999;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #999999;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #999999;
}
.wrap{
	margin: 0 auto;
	width:100%;
	min-width:1020px;
}
.content{
	width: 980px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.aligncenter{
	text-align: center;
}
.alignright{
	text-align: right;
}
.f_right{
	float: right;
}
.bg_button{
	background: #FD5353;
	border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
}
.bg_button1{
	background: #EB4444;
	/* W3C syntax */
	border-radius: 5px;
	/* Gecko browsers */
	-moz-border-radius: 5px 5px 5px 5px;
	/* Webkit browsers */
	-webkit-border-radius: 5px;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:"alpha(opacity=80)";
	/* 旧版IE */
	-ms-filter:"alpha(opacity=80)"; 
}
.bg_button2{
	background: #FD5353;
}
.bg_button3{
	background: #CCCCCC;
}
.bg_input{
	background: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
}
.clear_inline_block{
	/*消除inline-block元素间间距*/
	font-size: 0;
}
._relative{
	position: relative;
	z-index: 10000;
}
.font1{
	font:normal 14px/16px microsoft Yahei;
}
.font11{
	font:normal 14px/35px microsoft Yahei;
}
.font111{
	font:normal 14px/47px microsoft Yahei;
}
.font2{
	font:normal 24px/26px microsoft Yahei;
}
.font3{
	font:normal 20px/22px microsoft Yahei;
}
.font4{
	font:normal 20px/50px microsoft Yahei;
}
.font44{
	font:normal 20px/61px microsoft Yahei;
}
.font444{
	font:normal 20px/45px microsoft Yahei;
}
.font5{
	font:normal 45px/47px microsoft Yahei;
}
.color1{
	color: #666666;
}
.color2{
	color: #333333;
}
.color3{
	color: #999999;
}
.color4{
	color: #FFFFFF;
}
.color5{
	color: #433F3E;
}
.color6{
	color: #AAAAAA;
}
.color7{
	color:#FF534F;
}
.color77{
	color:#F7F7F7;
}
.color8{
	color:#3D3D3B;
}
.color9{
	color:#B5B5B5;
}
.color10{
	color:#FD5353;
}

/*共用样式结束*/

/*头部开始*/
#header{
	background: #F7F7F7;
	padding: 8px 0;
	border-bottom: 1px solid #E6E6E6;
}
#header .content ._hover{
	position: absolute;
	display: inline;
	display: none;
	z-index: 1000;
}
#header .content > ._hover:first-child{
	top: 38px;
	left: 286px;
}
/*兼容旧版IE 7-8 代替nth-child(n) 开始*/
#header .content > ._hover:first-child + ._hover{
	top: 38px;
	left: 337px;
}
#header .content > ._hover:first-child + ._hover + ._hover{
	top: 38px;
	left: 382px;
}
#header .content > ._hover:first-child + ._hover + ._hover + ._hover{
	top: 38px;
	left: 424px;
}
/*兼容旧版IE 7-8 结束*/
#header .content #nav_left li{
	float: left;
	margin-right: 10px;
}
#header .content #nav_left li a{
	display: inline;
	margin-right: 5px;
}
#header .content #nav_left li a img{
	vertical-align:middle;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px 17px 17px 17px;
}
#header .content #nav_right li{
	float: right;
	margin-right: 20px;
}
#header .content #nav_right .first_child{
	margin-right: 0;
}
#header .content #nav_right .line img{
	vertical-align: middle;
}
#header .content #nav_right #msg{
	width: 20px;
	display: inline;
}

/*头部logo部分开始*/
#logo{
	background: #FFFFFF;
	padding: 30px 0;
	border-bottom: 1px solid #E6E6E6;
}
#logo .content #nav_left li{
	float: left;
	margin-right: 10px;
}
#logo .content #nav_right li{
	float: right;
	margin-right: 50px;
}
#logo .content #nav_right li a:hover{
	color: #FD5353;
}
#logo .content #nav_right .first_child{
	margin-right: 0;
}
/*头部logo部分结束*/
/*头部结束*/

/*底部开始*/
#footer{
	background: #F7F7F7;
	padding: 45px 0 50px;
}
#footer .content>ul{
	margin-bottom: 45px;
	padding-top: 10px;
}
#footer .content .float_left{
	float: left;
	width: 450px;
}
#footer .content .float_center{
	float: left;
	width: 220px;
	padding-left: 30px;
	padding-bottom: 5px;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
}
#footer .content .float_right{
	float: right;
	width: 250px;
}
#footer .content .float_right .f_left{
	float: left;
}
#footer .content .float_right .f_right{
	float: right;
}
#footer .content .m_top{
	margin-top: 25px;
}
#footer .content #links li{
	float: left;
	margin-right: 30px;
}
#footer .content #links li a:hover{
	color: #FD5353;
}
/*底部结束*/

/*首页开始*/
#index_wrap #scroll{
	margin: 0 auto;
	background: #53CECC url(../image/site/scroll1.jpg) no-repeat center center;
	height: 385px;
}
#index_wrap #kdb{
	margin: 0 auto;
	background: #FFFFFF url(../image/site/kdb.jpg) no-repeat center 55px;
	height: 520px;
}
#index_wrap #projectlist{
	margin: 0 auto;
	background: #F7F7F7;
	padding: 60px 0 35px;
}
#index_wrap #investlist{
	margin: 0 auto;
	background: #FFFFFF url(../image/site/record.jpg) no-repeat center 55px;
	padding-bottom: 40px;
	height: 405px;
}
#index_wrap #scroll .scroll_form{
	background: #F7FDFD;
	width: 288px;
	height: 326px;
	display: inline-block;
	margin-top: 30px;
	padding-right: 20px;
	margin-left: 680px;
}
#index_wrap #scroll .scroll_form #title{
	border-bottom: 1px solid #E7E1E1;
	display: inline-block;
	padding: 22px 5px 10px;
}
#index_wrap #scroll .scroll_form #title .first_child{
	margin-right: 65px;
}
#index_wrap #scroll .scroll_input{
	height: 33px;
	line-height: 33px;
	width: 175px;
	display: inline-block;
	border: 1px solid #E3E3E3;
	margin-top: 10px;
	margin-left: 14px;
	padding-left: 5px;
}
#index_wrap #scroll .scroll_input_width{
	width: 80px;
}
#index_wrap #scroll .scroll_getcode{
	height: 35px;
	width: 85px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: bottom;
}
#index_wrap #scroll .scroll_button{
	height: 50px;
	width: 266px;
	display: inline-block;
	margin-top: 20px;
}
#index_wrap #kdb .kdb_video{
	border: 9px solid #F4F4F4;
	width: 305px;
	height: 230px;
	display: inline-block;
	margin-top: 120px;
}
#index_wrap #kdb .kdb_button{
	height: 50px;
	width: 270px;
	display: inline-block;
	margin-top: 52px;
	margin-left: 550px;
}
#index_wrap #projectlist #p2p_list{
	margin-top: 40px;
}
#index_wrap #projectlist #p2p_list .p2p_details{
	width: 302px;
	border: 1px solid #E5E5E5;
	margin-bottom: 30px;
	float: left;
	background: #FFFFFF;
}
#index_wrap #projectlist #p2p_list .p2p_details .details_content{
	height:398px;
	padding:30px 30px 0;
}
#index_wrap #projectlist #p2p_list .details_content .first_child{
	margin-bottom: 15px;
}
#index_wrap #projectlist #p2p_list .p2p_details .l_apr{
	margin:45px auto auto;
	text-align: center;
}
#index_wrap #projectlist #p2p_list .p2p_details #progress{
	height:15px;
	background:#EAEAEA;
	margin:60px auto 8px;
	border-radius:15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
}
#index_wrap #projectlist #p2p_list .p2p_details .progress_in{
	border-radius:15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
	height:15px;
	background:#fd5353;
}
#index_wrap #projectlist #p2p_list .p2p_details .summary{
	margin-bottom: 30px;
}
#index_wrap #investlist #invest_log{
	padding-top: 130px;
	width: 480px;
}
#index_wrap #investlist #invest_log .invest_details_table{
	width: 100%;
	background: #FFFFFF;
}
/*首页结束*/

/*注册页开始*/
#register_wrap{
	background: #F7F7F7;
	padding: 50px 0;
}
#register_wrap .content .r_left{
	display: inline-block;
	float: left;
	padding: 50px 0 20px;
	height: 457px;
}
#register_wrap .content .r_left li{
	float: left;
}
#register_wrap .content .r_left #left{
	margin-right: 40px;
	padding: 90px 25px;
}
#register_wrap .content .r_left #right{
	margin-left: 40px;
	padding: 90px 25px;
}
#register_wrap .content .r_right{
	background: #FFFFFF;
	width: 404px;
	display: inline-block;
	float: right;
	padding: 50px 0 20px;
}
#register_wrap .content ._input{
	height: 45px;
	line-height: 45px;
	width: 240px;
	display: inline-block;
	border: 1px solid #E3E3E3;
	margin: 20px 34px auto 8px;
	padding-left: 15px; 
}
#register_wrap .content .first_child{
	margin-top: 0;
}
#register_wrap .content #notification{
	display: inline-block;
	float: left;
	height: 16px;
	margin: 35px auto 5px 115px;
}
#register_wrap .content ._w_input{
	width: 131px;
	margin-right: auto;
}
#register_wrap .content ._w_input1{
	width: 100px;
	display: inline-block;
	margin-left: 9px;
	margin-right: 34px;
	vertical-align: bottom;
}
#register_wrap .content ._border{
	border: 1px solid #FD5353;
	margin-top: 50px;
}
#register_wrap .content ._border1{
	border: none;
	margin-top: 30px;
}

/*注册页结束*/

/*登录页开始*/
#login_wrap{
	background: #F7F7F7;
	padding: 50px 0;
}
#login_wrap .content .l_left{
	display: inline-block;
	float: left;
	height: 427px;
	padding: 20px 0;
}
#login_wrap .content .l_left li{
	float: left;
}
#login_wrap .content .l_left #left{
	margin-right: 40px;
	padding: 90px 25px;
}
#login_wrap .content .l_left #right{
	margin-left: 40px;
	padding: 90px 25px;
}
#login_wrap .content .l_right{
	background: #FFFFFF;
	width: 404px;
	display: inline-block;
	float: right;
	padding: 50px 0 20px;
}
#login_wrap .content ._input{
	height: 48px;
	line-height: 48px;
	width: 280px;
	display: inline-block;
	border: 1px solid #E3E3E3;
	margin: 20px 30px auto 20px;
	padding-left: 15px; 
}
#login_wrap .content .first_child{
	margin-top: 0;
}
#login_wrap .content #notification{
	display: inline-block;
	float: left;
	height: 16px;
	margin: 35px auto 5px 80px;
}
#login_wrap .content ._border{
	border: 1px solid #FD5353;
	margin-top: 50px;
}
#login_wrap .content ._border1{
	border: none;
	margin-top: 30px;
}
#login_wrap .content ._border1 .nth_child{
	margin: 0 10px;
}
/*登录页结束*/

/*错误页开始*/
.promat_wrap{
	background: #F7F7F7;
	padding: 50px 0;
}
.promat_wrap .ctitle{
	background: #FFFFFF;
	padding: 125px 0 0 250px;
	height: 445px;
}
.promat_wrap .ctitle #promat{
	float: left;
	margin-right: 30px;
	vertical-align: middle;
}
.promat_wrap .ctitle .l_height{
	line-height: 28px;
}
.promat_wrap .ctitle ._margin{
	display: inline-block;
	margin: 35px auto auto 86px;
}
.promat_wrap .ctitle .kdb_button{
	height: 50px;
	width: 270px;
	display: inline-block;
	margin: 80px auto auto 86px;
}
/*错误页结束*/
